<?xml version="1.0" encoding="utf-8"?>
	<LanguageData>
		<settleNewColony.desc>一队殖民者正在被派往新的领地。</settleNewColony.desc>
		<taxColony.label>征收税金</taxColony.label>
		<taxColony.desc>运送税金的队伍已经上路了。</taxColony.desc>
		<constructBuilding.desc>一栋建筑正在修建当中。</constructBuilding.desc>
		<enactSettlementPolicy.desc>一项制定中的政策将于近日在领地内发布。</enactSettlementPolicy.desc>
		<enactFactionPolicy.desc>一项正在制定中的政策将于近日在派系内发布。</enactFactionPolicy.desc>
	</LanguageData>
